@charset "UTF-8";

.question--title {
  margin: 10px auto;
  width: 500px;
  height: 40px;
  clear:both;
}

.group,
.group-q5,
.group-q6 {
  display: flex;
  justify-content: center;
}

/*q6の並び替え*/
.green--q6{
  order: 0;
}

.yellowgreen{
  order: 1;
}

.pink{
  order: 2;
}

/*q5*/
.group-q5{
  flex-direction: row;
}

/*Q1*/
.box-red-q1 {
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

/*q2*/
.red-q2 {
  margin: 0 auto;
}
/**/

.box {
  width: 300px;
  height: 300px;
  display: block;
}

.box-red-q1,
.red-q2,
.red-q4,
.red-q5,
.red-q7 {
  background: #f00;
}

.red-q7{
  display: block;
}

/*ここ
. {
  margin: 10px 10px;
  float: left;
}


.blue , 
.green , 
.orange , 
.yellowgreen , 
.pink ,  .red-q2 , .red-q4 , 
.red-q5 , .red-q7 {
  
}
*/

.blue-q7,
.blue-q3,
.blue-q4,
.blue-q5 {
  background: #0008ff;
}


/*q4 回り込みの解除*/
.group-Q4{
  margin: 0 auto;
  width: 600px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


/*q4の子要素*/
.q4 {
  
  float: left;
}


/*q7*/
.blue-q7 {
  display: none;
}
/**/

/*みどり*/
.green,
.green-q3,
.green--q6 {
  background: #22ff00;
}

/*文字入れ*/
.green--q6,
.yellowgreen,
.pink,
.red-q5,
.blue-q5,
.orange {
  display: grid;
  place-items: center;
}

/*q3*/
.green-q3 {
  margin-left: 150px;
}

/*オレンジ・黄緑・ピンク*/
.orange {
  background: #ff8400;
}

.yellowgreen {
  background: #d4ff00;
}

.pink {
  background: #ff00e1;
}
/**/

@media screen and (max-width:959px) {
  
  /*q5*/
  .group-q5 {
    
    flex-direction: row-reverse;
  }
  
  /*q6*/
  .pink {
    order: 0;
  }

  .green--q6 {
    order: 1;
  }

  .yellowgreen {
    order: 2;
  }

  /*q1*/
  .box-red-q1 {
    width: 200px;
    height: 200px;
  }

  /*q2*/
  .red-q2 {
    background: #007bff;
  }

  /*q4*/

  .q4 {
  float:none;

  }

  /*q3*/
  .green-q3 {
    margin-left: 50px;
  }

  /*q7*/
  .red-q7 {
    display: none;
  }

  .blue-q7 {
    display: block;
  }
}

/*Q7*/
