@charset "UTF-8";

.box--red {
  width: 400px;
  height: 400px;
  background: #f00;
  margin: 0 auto;
}

.box--purple {
  width: 400px;
  height: 400px;
  background: #0008ff;
  margin: 0 auto;  
}

.box--green {
  width: 400px;
  height: 400px;
  background: #22ff00;
  margin: 0 auto;
  display: grid;
  place-items: center; 
}

.box--orange {
  width: 400px;
  height: 400px;
  background: #ff8400;
  margin: 0 auto; 
}

.box--yellowgreen{
  width: 400px;
  height: 400px;
  background: #d4ff00;
  margin: 0 auto; 
  display: grid;
  place-items: center;
}

.box--pink{
  width: 400px;
  height: 400px;
  background: #ff00e1;
  margin: 0 auto; 
  display: grid;
  place-items: center;
}
