@charset "UTF-8";

.box {
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.red {
  background: #f00;
}

.purple {
  background: #0008ff;
}

.green {
  background: #22ff00;
  display: grid;
  place-items: center; 
}

.orange {
  background: #ff8400;
}

.yellowgreen{
  background: #d4ff00; 
  display: grid;
  place-items: center;
}

.pink{
  background: #ff00e1;
  display: grid;
  place-items: center;
}
